extends layout

block content
  h1 #{title}
  .messages
    each message in messages
      .message
        h1 #{message.text}
        p #{message.user}
        p Added #{message.added}
  button
    a(href="/new") Add new Message
