extends layout

block content
  h1 #{title}
  .messages
    each message in messages
      .message
        p #{message.text}
        hr
        p Added by <em> #{message.user} </em> #{date.formatDistanceToNow(message.added)} ago
  a(href="/new") Add new Message
